<div class="row">
  <div class="col-12"><h4>Dashboard</h4></div>
</div>

<div class="row">
  <div class="col-12">
    <nav class="nav">
      <a class="nav-link active"  [ngClass]="{active:activeTab==='Notes'}" (click)="tabChanged('Notes')">Notes</a>
      <a class="nav-link" [ngClass]="{active:activeTab==='Likes'}" (click)="tabChanged('Likes')">Likes</a>
      <a class="nav-link" [ngClass]="{active:activeTab==='Comments'}" (click)="tabChanged('Comments')">Comments</a>
      <a class="nav-link disabled" [ngClass]="{active:activeTab==='Read'}" (click)="tabChanged('Read')">Read later</a>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-12" *ngFor="let note of noteList">
    <app-note-recommendations-details [note]="note"></app-note-recommendations-details>
  </div>
</div>

