<div class="row">
  <div class="col-12"><h4>Dashboard</h4></div>
</div>

<div class="row">
  <div class="col-12">
    <nav class="nav">
      <a class="nav-link active" href="#">Notes</a>
      <a class="nav-link" href="#">Likes</a>
      <a class="nav-link" href="#">Comments</a>
      <a class="nav-link disabled" href="#">Read later</a>
    </nav>
  </div>
</div>

<div class="row">
  <div class="col-12" *ngFor="let note of noteList">
    <app-note-recommendations-details [note]="note"></app-note-recommendations-details>
  </div>
</div>

