<div class="row d-flex flex-nowrap py-2 ">
  <div class="thumbnail">
    <img src="https://d19m59y37dris4.cloudfront.net/blog/1-2/img/small-thumbnail-1.jpg" alt="">
  </div>
  <div class="details pl-3">
    <div class="title pb-2">
      {{note._id}}
      <strong><a [routerLink]="['/core','note', note._id]">{{note.note_title}}</a></strong>
    </div>
    <div class="meta d-flex">
      <i class="fa fa-eye mr-2"></i>
      <span class="view-count">50</span>
      <i class="fa fa-comment-o mr-2"></i>
      <span class="comment-count">{{note.note_comments.length}}</span>
    </div>
  </div>
</div>
