<div class="row d-flex flex-nowrap py-2 ">
  <div class="thumbnail">
    <img src="https://d19m59y37dris4.cloudfront.net/blog/1-2/img/small-thumbnail-1.jpg" alt="">
  </div>
  <div class="details pl-3">
    <div class="title pb-2">
      <strong>Alberto Savoia Can Teach You About Interior</strong>
    </div>
    <div class="meta d-flex">
      <i class="fa fa-eye mr-2"></i>
      <span class="view-count">50</span>
      <i class="fa fa-comment-o mr-2"></i>
      <span class="comment-count">50</span>
    </div>
  </div>
</div>
