.avatar{
  height: 150px;
}

.profile-box{
  border: 1px solid #eee;
}

.setting-box{
  height: 50px;
  width: 150px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-box{
  height: 30px;
  font-size: 12px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
