<div class="container">
  <div class="row">
    <div class="col-12 d-flex ">
      <h4>Create new note</h4>
      <a role="button" class="btn-theme ml-auto px-3 py-2 mb-1" (click)="createNewNote()">Save</a>
    </div>

    <div class="col-12 title-input-wrapper mb-2">
      <input class="new-note-title" type="text" placeholder="Title..." [(ngModel)]="title">
    </div>
    <div class="col-12">
      <app-ngx-editor [placeholder]="'Enter text here...'" [config]="editorConfig" [spellcheck]="true"
                      [(ngModel)]="htmlContent"></app-ngx-editor>
      <div>{{htmlContent}}</div>
    </div>
  </div>
</div>
